.navDrawer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    filter: drop-shadow(2px 2px 2px rgba(50, 50, 0, 0.5));
  }

#drawer {
    z-index: 0;
  }

  #blackground {
    width:100%; 
    height:100%; 
    background: rgba(0,0,0,.6);
    position:fixed;
    top:0;
    left:0;
    opacity: 0;
    transition-delay: 0s;
    transition: all .5s;
  }
  
  .background {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    background: #fff;
    z-index: 999;
  }
  
  .buttonDrawer {
    outline: none;
    position: fixed;
    border: none;
    cursor: pointer;
    top: 18px;
    left: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: transparent;
    z-index: 999;
  }
  
  .ulDrawer,
  .liDrawer {
    margin: 0;
    padding: 0;
    z-index: 999;
  }
  
  .ulDrawer {
    padding: 25px;
    position: absolute;
    top: 100px;
    width: 300px;
    margin: auto;
  }
  
  .liDrawer {
    list-style: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: #fafafa;
    margin-bottom: 10pt;
    border-radius: 3pt;
  }
  
  .icon-placeholder {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    flex: 40px 0;
    justify-content: center;
    align-items: center;
  }
  
  .text-placeholder {
    border-radius: 5px;
    width: 200px;
    height: 25px;
    margin-left: 20pt;
    flex: 1;
  }
  
  .refresh {
    padding: 10px;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  