.Tabla_Citas{
position: relative;
width: 500px;
height: 461px;
}
/* multiple row list */

/* Auto Layout */
.Tabla{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 8px 16px;

  position: relative;
  width: 664px;
  height: 165px;
  left: 293px;
  top: 54px;

  background: #FFFFFF;
  /* Grey +1 */
  border: 1px solid #E9E9E7;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}


/* Desktop - 1 */

position: relative;
width: 1440px;
height: 1024px;

background: #FFFFFF;





/* id-column */

/* Auto Layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: static;
width: 60px;
height: 95px;
left: 8px;
top: 8px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;


/* header */

/* Auto Layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px 0px 4px;

position: static;
width: 60px;
height: 33px;
left: 0px;
top: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 0px 0px;


/* Frame 16 */

/* Auto Layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px 8px 4px;

position: static;
width: 60px;
height: 28px;
left: 0px;
top: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;


/* icons */

position: static;
width: 16px;
height: 16px;
left: 8px;
top: 8px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;


/* Vector */

position: absolute;
left: 18.75%;
right: 18.75%;
top: 25%;
bottom: 25%;

/* Black */
background: #37352F;


/* master-text */

/* Auto Layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 8px;

position: static;
width: 28px;
height: 15px;
left: 24px;
top: 8.5px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 0px;


/* master text */

position: static;
width: 12px;
height: 15px;
left: 8px;
top: 0px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
/* identical to box height */

/* Black */
color: #37352F;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;


/* Divider */

position: static;
width: 60px;
height: 1px;
left: 0px;
top: 28px;


/* Inside Auto Layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 0px 0px;


/* Divider */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Grey +1 */
background: #E9E9E7;


/* list-item */

/* Auto Layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 4px 0px;

position: static;
width: 60px;
height: 31px;
left: 0px;
top: 33px;


/* Inside Auto Layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 0px 0px;


/* row */

/* Auto Layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 4px 8px 4px 4px;

position: static;
width: 50px;
height: 23px;
left: 0px;
top: 4px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;


/* master-text */

/* Auto Layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 8px;

position: static;
width: 38px;
height: 15px;
left: 4px;
top: 4px;


/* Inside Auto Layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 10px 0px;


/* master text */

position: static;
display: none;
width: 90px;
height: 15px;
left: 8px;
top: 0px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
/* identical to box height */

color: #000000;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;


/* list-item */

/* Auto Layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 4px 0px;

position: static;
width: 60px;
height: 31px;
left: 0px;
top: 64px;


/* Inside Auto Layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;
margin: 0px 0px;


/* row */

/* Auto Layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 4px 8px 4px 4px;

position: static;
display: none;
width: 50px;
height: 23px;
left: 0px;
top: 4px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;


/* nombre-column */

/* Auto Layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: static;
width: 210px;
height: 64px;
left: 68px;
top: 8px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 0px;


/* header */

/* Auto Layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px 0px 4px;

position: static;
width: 210px;
height: 33px;
left: 0px;
top: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 0px 0px;


/* Frame 18 */

/* Auto Layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px 8px 4px;

position: static;
width: 80px;
height: 28px;
left: 0px;
top: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;


/* icons */

position: static;
width: 16px;
height: 16px;
left: 8px;
top: 8px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;


/* Vector */

position: absolute;
left: 18.75%;
right: 18.75%;
top: 18.75%;
bottom: 18.75%;

/* Black */
background: #37352F;
/* Black */
border: 0.2px solid #37352F;


/* master-text */

/* Auto Layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 8px;

position: static;
width: 48px;
height: 15px;
left: 24px;
top: 8.5px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 0px;


/* master text */

position: static;
width: 32px;
height: 15px;
left: 8px;
top: 0px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
/* identical to box height */

/* Black */
color: #37352F;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;


/* Divider */

position: static;
width: 210px;
height: 1px;
left: 0px;
top: 28px;


/* Inside Auto Layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 0px 0px;


/* Divider */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Grey +1 */
background: #E9E9E7;


/* list-item */

/* Auto Layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 4px 0px;

position: static;
width: 210px;
height: 31px;
left: 0px;
top: 33px;


/* Inside Auto Layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 0px 0px;


/* row */

/* Auto Layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 2px 8px;

position: static;
display: none;
width: 103px;
height: 23px;
left: 0px;
top: 4px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;


/* creado-column */

/* Auto Layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: static;
width: 136px;
height: 64px;
left: 278px;
top: 8px;


/* Inside Auto Layout */
flex: none;
order: 2;
flex-grow: 0;
margin: 0px 0px;


/* header */

/* Auto Layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px 0px 4px;

position: static;
width: 136px;
height: 33px;
left: 0px;
top: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 0px 0px;


/* Frame 19 */

/* Auto Layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px 8px 4px;

position: static;
width: 136px;
height: 28px;
left: 0px;
top: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;


/* icons */

position: static;
width: 16px;
height: 16px;
left: 8px;
top: 8px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;


/* Union */

position: absolute;
left: 18.75%;
right: 18.75%;
top: 12.5%;
bottom: 12.5%;

/* Black */
background: #37352F;


/* master-text */

/* Auto Layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 8px;

position: static;
width: 104px;
height: 15px;
left: 24px;
top: 8.5px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 0px;


/* master text */

position: static;
width: 88px;
height: 15px;
left: 8px;
top: 0px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
/* identical to box height */

/* Black */
color: #37352F;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;


/* Divider */

position: static;
width: 136px;
height: 1px;
left: 0px;
top: 28px;


/* Inside Auto Layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 0px 0px;


/* Divider */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Grey +1 */
background: #E9E9E7;


/* list-item */

/* Auto Layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 4px 0px;

position: static;
width: 136px;
height: 31px;
left: 0px;
top: 33px;


/* Inside Auto Layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 0px 0px;


/* row */

/* Auto Layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 4px 8px 4px 4px;

position: static;
width: 114px;
height: 23px;
left: 0px;
top: 4px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;


/* master-text */

/* Auto Layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 8px;

position: static;
width: 102px;
height: 15px;
left: 4px;
top: 4px;


/* Inside Auto Layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 10px 0px;


/* master text */

position: static;
width: 86px;
height: 15px;
left: 8px;
top: 0px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
/* identical to box height */

color: #000000;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;


/* cierre-column */

/* Auto Layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: static;
width: 120px;
height: 64px;
left: 414px;
top: 8px;


/* Inside Auto Layout */
flex: none;
order: 3;
flex-grow: 0;
margin: 0px 0px;


/* header */

/* Auto Layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px 0px 4px;

position: static;
width: 120px;
height: 33px;
left: 0px;
top: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 0px 0px;


/* Frame 19 */

/* Auto Layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px 8px 4px;

position: static;
width: 120px;
height: 28px;
left: 0px;
top: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;


/* icons */

position: static;
width: 16px;
height: 16px;
left: 8px;
top: 8px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;


/* Union */

position: absolute;
left: 18.75%;
right: 18.75%;
top: 12.5%;
bottom: 12.5%;

/* Black */
background: #37352F;


/* master-text */

/* Auto Layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 8px;

position: static;
width: 88px;
height: 15px;
left: 24px;
top: 8.5px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 0px;


/* master text */

position: static;
width: 72px;
height: 15px;
left: 8px;
top: 0px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
/* identical to box height */

/* Black */
color: #37352F;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;


/* Divider */

position: static;
width: 120px;
height: 1px;
left: 0px;
top: 28px;


/* Inside Auto Layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 0px 0px;


/* Divider */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Grey +1 */
background: #E9E9E7;


/* list-item */

/* Auto Layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 4px 0px;

position: static;
width: 120px;
height: 31px;
left: 0px;
top: 33px;


/* Inside Auto Layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 0px 0px;


/* row */

/* Auto Layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 4px 8px 4px 4px;

position: static;
width: 114px;
height: 23px;
left: 0px;
top: 4px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;


/* master-text */

/* Auto Layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 8px;

position: static;
width: 102px;
height: 15px;
left: 4px;
top: 4px;


/* Inside Auto Layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 10px 0px;


/* master text */

position: static;
width: 86px;
height: 15px;
left: 8px;
top: 0px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
/* identical to box height */

color: #000000;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;


/* Completada-column */

/* Auto Layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: static;
width: 117px;
height: 64px;
left: 534px;
top: 8px;


/* Inside Auto Layout */
flex: none;
order: 4;
flex-grow: 0;
margin: 0px 0px;


/* header */

/* Auto Layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px 0px 4px;

position: static;
width: 117px;
height: 33px;
left: 0px;
top: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 0px 0px;


/* Frame 19 */

/* Auto Layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px 8px 4px;

position: static;
width: 117px;
height: 28px;
left: 0px;
top: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;


/* icons */

position: static;
width: 16px;
height: 16px;
left: 8px;
top: 8px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;


/* Vector */

position: absolute;
left: 18.75%;
right: 18.75%;
top: 18.75%;
bottom: 18.75%;

/* Black */
background: #37352F;


/* master-text */

/* Auto Layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 8px;

position: static;
width: 85px;
height: 15px;
left: 24px;
top: 8.5px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 0px;


/* master text */

position: static;
width: 69px;
height: 15px;
left: 8px;
top: 0px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
/* identical to box height */

/* Black */
color: #37352F;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;


/* Divider */

position: static;
width: 117px;
height: 1px;
left: 0px;
top: 28px;


/* Inside Auto Layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 0px 0px;


/* Divider */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Grey +1 */
background: #E9E9E7;


/* list-item */

/* Auto Layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 4px 0px;

position: static;
width: 117px;
height: 31px;
left: 0px;
top: 33px;


/* Inside Auto Layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 0px 0px;


/* row */

/* Auto Layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 4px 8px 4px 4px;

position: static;
width: 73px;
height: 23px;
left: 0px;
top: 4px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;


/* master-text */

/* Auto Layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 8px;

position: static;
width: 61px;
height: 15px;
left: 4px;
top: 4px;


/* Inside Auto Layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 10px 0px;


/* master text */

position: static;
width: 45px;
height: 15px;
left: 8px;
top: 0px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
/* identical to box height */

color: #000000;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;


/* Round / Secondary / Icon / Large */

/* Auto Layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: static;
width: 56px;
height: 54px;
left: 651px;
top: 62px;

transform: matrix(1, 0, 0, -1, 0, 0);

/* Inside Auto Layout */
flex: none;
order: 5;
flex-grow: 0;
margin: 0px 0px;


/* ❖ Main / Round / Large */

/* Auto Layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
left: 6.04%;
right: 90%;
top: 12.3%;
bottom: 82.23%;

/* Tight / Elevation 4 */
filter: drop-shadow(0px 2px 7px rgba(0, 0, 0, 0.24));


/* ❖ Main / Large */

/* Auto Layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 14px;

position: static;
left: 0%;
right: 1.75%;
top: 0%;
bottom: 0%;

/* Action Secondary / Default */
background: #19AB4F;
border-radius: 32px;

/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;


/* Content / add */

position: static;
width: 28px;
height: 28px;
left: 14px;
top: 14px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 8px 0px;


/* Icon Mask */

position: absolute;
left: 20.83%;
right: 20.83%;
top: 20.83%;
bottom: 20.83%;



/* Round */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #000000;


/* Color Fill */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Action Secondary / Inverted */
: #FFFFFF;


/* ❖ Main / Round / Large */

/* Auto Layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
left: 6.04%;
right: 90%;
top: 4.69%;
bottom: 89.36%;

/* Tight / Elevation 4 */
filter: drop-shadow(0px 2px 7px rgba(0, 0, 0, 0.24));


/* ❖ Main / Large */

/* Auto Layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 14px;

position: static;
left: 0%;
right: 1.75%;
top: 0%;
bottom: 8.2%;

/* Action Secondary / Default */
background: #19AB4F;
border-radius: 32px;

/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;


/* Content / add */

position: static;
width: 28px;
height: 28px;
left: 14px;
top: 14px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 8px 0px;


/* Icon Mask */

position: absolute;
left: 20.83%;
right: 20.83%;
top: 20.83%;
bottom: 20.83%;



/* Round */

position: absolute;
visibility: hidden;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #000000;


/* Color Fill */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Action Secondary / Inverted */
background: #FFFFFF;


/* home-5-512 1 */

position: absolute;
width: 31px;
height: 28px;
left: 100px;
top: 62px;

/*background: url(home-5-512.png);*/
