.Tabla_Citas{
position: relative;
width: 500px;
height: 461px;
}
/* multiple row list */

/* Auto Layout */
.Tabla{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 8px 16px;

  position: relative;
  width: 664px;
  height: 165px;
  left: 293px;
  top: 54px;

  background: #FFFFFF;
  /* Grey +1 */
  border: 1px solid #E9E9E7;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}


/* Desktop - 1 */
